input {
  background-color: transparent !important;
}

input:focus {
  background-color: transparent !important;
}

.carDetailsHeading {
  padding: 25px 97px;
  line-height: 2.3rem !important;
  border-radius: 40px;
  font-weight: 700;
  color: var(--black-color) !important  ;
  background-color: var(--primary-light-color);
  width: fit-content;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .carDetailsHeading {
    padding: 0 !important;
    background-color: transparent !important;
    width: 100%;
    font-size: 30px !important;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.form-check-input {
  background-color: #fff !important;
  border-color: var(--primary-color) !important;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: #fff !important;
}
