.dashboard-container {
    margin-left: 400px;
    max-width: calc(100% - 400px);
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .dashboard-container {
        margin-left: 0;
        max-width: 100%;
        /* padding: 0 20px; */
      }
}

