/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100% !important;
  overflow-x: hidden !important;
  background-color: rgba(47, 47, 46, 0.9);
  box-shadow: 0 4px 8px rgba(47, 47, 46, 0.3);
  position: fixed !important;
  top: 0 !important;
  z-index: 100 !important;

  max-width: 100%;
  padding: 0 20px;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo-image {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.navbar__logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(
    --primary-color
  ) !important          ; /* Adjust the color as needed */
}

.navbar__search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 400px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar__search-input {
  background-color: transparent !important;
  color: var(--white-color) !important;
  flex: 1;
  padding: 8px 12px;
  border: 0;
  border-radius: 4px 0 0 4px;
  border: none !important;
}

.navbar__search-button {
  padding: 7px 10px;
  margin: 5px 0;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.navbar__nav {
  display: flex;
  gap: 20px;
  height: 125px;
}

.navbar__link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
}

.navbar__link:hover {
  color: var(--primary-color);
}

/* Responsive styles */

@media (max-width: 1439px) {
  .navbar__link {
    display: none;
  }
  .navleftSideDiv {
    width: 100% !important;
  }

  .navbar__logo {
    width: 50%;
    justify-content: flex-start !important;
  }
  .navbar__search {
    width: 50% !important;
    position: static;
    transform: none;
    justify-content: center !important;
  }
}

.heading {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white-color);
}

.heading span {
  color: var(--primary-color);
  font-weight: bold;
}

/* inputDiv */
.inputDiv {
  width: 400px;
  border: 1px solid #ccc;
}
@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }
  .navbar {
    height: 80px !important;
    overflow: hidden !important;
    padding: 0;
    margin: 0;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding-right: 60px !important;
  }
  .navbar__logo {
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 15px !important;
  }
  .navleftSideDiv {
    margin-left: 10px !important;
    padding-left: 0px !important;
    padding-right: 25px !important;
    margin-right: 10px !important;
  }
  .navbar__logo {
    width: 100px !important;
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
  .navleftSideDiv {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .navbar__logo-image {
    width: 100px !important;
    height: auto !important;
  }
  .navbar__search-input {
    display: none !important;
  }
  .inputDiv {
    display: none !important;
  }
  .navbar__search {
    padding: 0 !important;
    margin: 0 !important;
    width: 50% !important;
    margin-left: auto !important;
    position: static;
    transform: none;
  }
  .navbar__search-button {
    display: none !important;
  }
}

@media (max-width: 375px) {
  .navbar__logo {
    margin-right: 0px !important;
  }
  .navbar__logo-image {
    margin-right: 0px !important;
    width: 100% !important;
  }
  .heading {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.1rem;
  }
}

.hamburger {
  cursor: pointer;
  display: none;
  transition: all 0.3s ease;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: var(--white-color);
  margin: 5px 0;
  transition: all 0.3s ease;
}

.hamburger.active .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
  }
}
