.table-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-left: 350px;
  overflow-x: hidden;
}

.cars-container {
  margin: 100px 10px 10px 390px;
}

@media (max-width: 768px) {
  .table-container {
    width: 100%;
    margin-left: 20px;
    overflow-x: auto;
  }
  .cars-container {
    margin: 82px 10px 10px 10px;
  }
}

@media (max-width: 576px) {
  .table-container {
    width: 100%;
    margin-left: 0px;
    padding: 0px;
    overflow-x: auto;
    margin-top: 37px;
  }
  .cars-container {
    margin: 82px 10px 10px 10px;
  }
}
