* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("https://img.freepik.com/premium-photo/front-view-generic-brandless-moder-car_110488-502.jpg?ga=GA1.1.955100521.1725900357&semt=ais_hybrid"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
button,
span,
div,
ul,
li,
span,
img,
button,
textarea,
select,
option,
input {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select,
button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .nav-buttons {
    flex-direction: column;
  }

  button {
    margin: 5px 0;
  }
}
